.news_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
}
  .news_navbar_title > img {
    height: 30px;
    cursor: pointer;
}
  .news_nav > a {
    margin-left: 35px;
    font-size: 18px;
    font-weight: 400;
    color: #333D51;
}
  .news_nav > a:active {
    color: #004FEC;
}
.news_navbar_title {
  transform: rotate(-90deg);
}
